<h2 class="title is-2">Today Concerts</h2>
<br>

<div class="columns">
  <div class="column">

    <table class="table">
      <thead>
        <tr>
          <th>Artist</th>
          <th>Venue</th>
          <th>City</th>
          <th>Links</th>
        </tr>
      </thead>
      <tbody>
        <% @concert.each do |concert| %>
          <tr>
            <td><%= concert.artist %></td>
            <td><%= concert.venue %></td>
            <td><%= concert.city %></td>
            <td><%= link_to("Details", concert_path(concert)) %></td>
          </tr>
        <% end%>
      </tbody>
    </table>  

    <br>
    <%= link_to("Upcomming Concerts", "/") %>
  </div>

  <div class="column is-2">
    <h2 class="subtitle">Concerts this month</h2>
    <% @concertMonth.each do |concert| %>
       <li>
         <%= link_to("#{concert.artist}", concert_path(concert)) %>
      </li>
    <% end%>
  </div>
</div>
