<strong><h2 class="title is-2">All Concerts History</h2></strong>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Venue</th>
      <th>City</th>
      <th>Links</th>
    </tr>
  </thead>
  <tbody>
    <% @concert.each do |concert| %>
      <tr>
        <td><%= concert.artist %></td>
        <td><%= concert.venue %></td>
        <td><%= concert.city %></td>
        <td><%= link_to("Details", concert_path(concert)) %></td>
      </tr>
    <% end%>
  </tbody>
</table>

<br>
<%= link_to("Today concerts", concerts_path) %>
<br>
<%= link_to("Most commented concerts", concerts_top_commented_path) %>
